.Landing {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #00010e 20%, #00010c2c),
    url('../../images/alone.png');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.Landing-info {
  margin-left: 5%;
}

.title {
  font-size: 5.5rem;
  color: #6900a7;
  margin: 0;
}

.subtitle {
  font-size: 3.5rem;
  margin-top: 0px;
}

.subtitle--imp {
  color: #6900a7;
}
