.Navbar {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 5%;
}

.Navbar__content {
  line-height: 70px;
}

.Brand-logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: inherit;
}

.Brand-logo i {
  font-size: 2.2rem;
  font-weight: 700;
  padding-right: 2px;
}
