.Navbar {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar__list {
  min-width: 60%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.Navbar__item {
  text-align: center;
}
